.env
.venv/
__pycache__/
*.py[cod]
.server-logs/
.pytest_cache/
.mypy_cache/
node_modules/
dist/
.vite/
*.tsbuildinfo
vite.config.js
vite.config.d.ts
.DS_Store

echo server.err.log >> .gitignore
echo server.out.log >> .gitignore
