APP_NAME=CORTEX
APP_VERSION=0.1.0
ENVIRONMENT=development
CORS_ORIGINS=["http://localhost:5173"]
HYDRADB_API_KEY=sk_live_5Jkz0kN-BoPC.GehEoSOG0bKL91FskwBXij7VuOwjxv1DvtVEfKlcCG0
HYDRADB_PROJECT_ID=cortex-local
